
.container{
    background-color: bisque;
    height: 100vh;
}

.main{
    padding-top: 30px;
    display: grid;
    justify-content: center;
    flex-wrap: wrap;
}

.formdiv{
    width: 400px;
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    background-color: aliceblue;
}

.h1{
    text-align: center;
}
